[submodule "nvim-setup"]
	path = nvim-setup
	url = https://github.com/yoonjin2/nvim-setup
[submodule "vimrc"]
	path = vimrc
	url = https://github.com/amix/vimrc
[submodule "nvim"]
	path = nvim
	url = https://github.com/xvzc/nvim
[submodule "nvim-lspconfig"]
	path = nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "AstroNvim"]
	path = AstroNvim
	url = https://github.com/AstroNvim/AstroNvim
[submodule "LunarChad"]
	path = LunarChad
	url = https://github.com/ViktorBusk/LunarChad
[submodule "kickstart.nvim"]
	path = kickstart.nvim
	url = https://github.com/nvim-lua/kickstart.nvim
[submodule "development_nvim"]
	path = development_nvim
	url = https://github.com/flutterfocus/development_nvim
[submodule "lazy.nvim"]
	path = lazy.nvim
	url = https://github.com/folke/lazy.nvim.git
